.accordian-cont {
  width: 100%;
  background-color: white;
  padding: 2rem;
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 1.4rem;
}

.accordian {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  color: #000000;
  letter-spacing: 0.75px;
  font-size: 1.4rem;
}

.accordian-answer {
  font-size: 1.2rem;
  text-align: left;
  margin-top: 1.5rem;
  font-weight: 600;
  color: #eb5d39;
  letter-spacing: 1px;
}
