.anim-icon {
  position: absolute;
  animation: slideUpDown 4s infinite linear;
}

.small-circle {
  font-size: 1.4rem;
  left: 10%;
  top: 30%;
}

.big-circle {
  font-size: 2.4rem;
  right: 10%;
  top: 40%;
}

.triangle {
  font-size: 2.4rem;
  bottom: 20%;
  left: 38%;
}
